name: Post Release

on:
  push:
    tags: ["v*"]

jobs:
  homebrew:
    name: Bump Homebrew Formula
    runs-on: ubuntu-latest
    steps:
      - uses: mislav/bump-homebrew-formula-action@v3
        with:
          formula-name: dbmate
        env:
          COMMITTER_TOKEN: ${{ secrets.RELEASE_TOKEN }}
